@model Task_1.Models.Student

<h2>Student Details</h2>

<div>
    <h4>Name: @Model.Name</h4>
    <h4>Email: @Model.Email</h4>
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
